.header {
    text-align: center; /* center the text */
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto;
  }
  
  /* Increase the font size of the <h1> element */
  h1 {
    font-size: 170px;
    text-align: center; /* center the text */
  }
  
  body {
    background-color: #FFE1E1;
    font-family: "Navigo", sans-serif;
    color:#8F312D;
  }
 
  .grid-container{
    display: inline-grid;
    text-align: center;
    grid-template-columns: auto auto;
  }
  .button01 {
    background-color: #2C1913;
    font-size: 100px;
    color: white;
    transition-duration: 0.4s;
    border:none;
    padding: 150px;
    text-decoration: none;
    cursor: pointer;
    opacity:1;
  }
  
  .button01:hover {
    opacity: 0.6;
   background-image:url("../images/eagle-arm.jpg");
   background-size:contain;
  }

  .button02 {
    background-color: #2C1913;
    font-size: 100px;
    color: white;
    transition-duration: 0.4s;
    border:none;
    padding: 150px;
    text-decoration: none;
    cursor: pointer;
    opacity:1;
  }
  
  .button02:hover {
    opacity: 0.6;
   background-image:url("../images/esprit-fer.jpg");
   background-size:contain;
  }
  .button03 {
    background-color: #2C1913;
    font-size: 100px;
    color: white;
    transition-duration: 0.4s;
    border:none;
    padding: 150px;
    text-decoration: none;
    cursor: pointer;
    opacity:1;
  }
  
  .button03:hover {
    opacity: 0.6;
   background-image:url("../images/esprits-marais.jpg");
   background-size:contain;
  }
  .button04 {
    background-color: #2C1913;
    font-size: 100px;
    color: white;
    transition-duration: 0.4s;
    border:none;
    padding: 150px;
    text-decoration: none;
    cursor: pointer;
    opacity:1;
  }
  
  .button04:hover {
    opacity: 0.6;
   background-image:url("../images/folded-concrete.jpg");
   background-size:contain;
  }
  .button05 {
    background-color: #2C1913;
    font-size: 100px;
    color: white;
    transition-duration: 0.4s;
    border:none;
    padding: 150px;
    text-decoration: none;
    cursor: pointer;
    opacity:1;
  }
  
  .button05:hover {
    opacity: 0.6;
   background-image:url("../images/fond-mers.jpg");
   background-size:contain;
  }
  .button06 {
    background-color: #2C1913;
    font-size: 100px;
    color: white;
    transition-duration: 0.4s;
    border:none;
    padding: 150px;
    text-decoration: none;
    cursor: pointer;
    opacity:1;
  }
  
  .button06:hover {
    opacity: 0.6;
   background-image:url("../images/hybride.jpg");
   background-size:contain;
  }
  
  .buttonMenu {
    background-color:#6E5750;
    font-size: 50px;
    width:50%;
    color:white;
    transition-duration: 0.4s;
    border:none;
    padding: 50px;
    text-decoration: none;
    cursor: pointer;
    opacity:1;
  }
  
  .buttonMenu:hover {
    opacity: 0.6;
   
  }
  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    font-size: 200%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }
  
  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .footer {
    padding: 25px; /* some padding */
    text-align: center; /* center the text */
  }